<div class="grid">
  <div class="col">
    <div class="grid" style="height: 4em">
      <div class="col">
        <h2>Extracted Triples</h2>
      </div>
      <div class="col">
        <button
          pButton
          pRipple
          type="button"
          label="Summarize"
          class="p-button"
          (click)="summarizeTriples()"
          style="float: right; margin-right: 1em"
        ></button>
      </div>
    </div>
    <div class="grid">
      <textarea
        rows="10"
        cols="50"
        pInputTextarea
        class="outline-text"
        [(ngModel)]="triples"
      ></textarea>
    </div>
  </div>
  <div class="col">
    <div class="grid" style="height: 4em">
      <div class="col">
        <h2>Summarized Content</h2>
      </div>
    </div>
    <div class="grid">
      <textarea
        rows="10"
        pInputTextarea
        class="outline-text"
        [(ngModel)]="summarizedContent"
      ></textarea>
    </div>
  </div>
</div>
