<ng-container *ngIf="activeServices">
  <div class="overlay"></div>
  <p-progressSpinner class="spinner" strokeWidth="4"></p-progressSpinner>
</ng-container>

<p-carousel
  [value]="components"
  [numVisible]="2"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template pTemplate="header">
    <div style="margin-left: 60px; margin-top: 10px">
      <input
        type="text"
        pInputText
        placeholder="Name"
        [(ngModel)]="name"
        (change)="updateName()"
        pTooltip="Mandatory"
        tooltipPosition="bottom"
      />
    </div>
  </ng-template>
  <ng-template let-component pTemplate="item">
    <div style="margin: 10px; height: 78vh">
      <p-card [header]="component.title" [style]="{ height: '100%' }">
        <app-generate-helper
          [component]="component.tag"
          [name]="name"
        ></app-generate-helper>
      </p-card>
    </div>
  </ng-template>
</p-carousel>
