.spinner {
  position: absolute;
  left: 47%;
  top: 40%;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  backdrop-filter: blur(1px);
}
